[mysqld]
group_replication_group_name = "{{ .GroupName }}"
group_replication_local_address = "{{ .LocalAddress }}"
group_replication_group_seeds = "{{ .GroupSeeds }}"
group_replication_ip_allowlist = "{{ .GroupIPAllowList }}"
group_replication_ssl_mode = REQUIRED
group_replication_recovery_use_ssl = 1
group_replication_recovery_ssl_ca = "/etc/certs/my-ca-cert.pem"
group_replication_recovery_ssl_cert = "/etc/certs/my-server-cert.pem"
group_replication_recovery_ssl_key = "/etc/certs/my-server-key.pem"
