[mysqld]
server_id={{ .ServerID }}
bind-address = 0.0.0.0
report_host = "zygote-db-rep-{{ .ServerID }}"
gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON
log-bin=mysql-bin
binlog_format=ROW
xa_detach_on_prepare=ON
binlog_checksum=NONE
relay-log = mysqld-relay-bin
relay-log-index = mysqld-relay-bin.index
mysql_native_password=ON
sql_require_primary_key=ON
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
