[Unit]
Description={{ func_name }} Service
After=network.target

[Service]
ExecStart={{ exec_start }}
{% for key, value in func_env.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
Restart=always
RestartSec=5
User={{ func_user }}
Group={{ func_group }}

[Install]
WantedBy=multi-user.target
